<div class="container">
  <div
    class="alert border-white m-2"
    style="display: flex; justify-content: space-between"
  >
    <% if (user.Name) { %>
    <h4 class="text-white"><%= user.Name %></h4>
    <% }else { %>
    <h3 class="text-white">User Name</h3>
    <% } %>
    <a class="btn btn-danger" href="/logout">Logout</a>
  </div>
  <div class="statusBox col-10 col-md-6 container-fluid">
    <h5 class="m-auto">
      Status : <% if (status=='Active') { %>
      <span class="text-success"><%= status %> </span>
      <% } else if (status=='Busy') { %>
      <span class="text-primary"><%= status %> </span>
      <% } else if (status=='Break') { %>
      <span class="text-warning"><%= status %> </span>
      <% } else { %>
      <span class="text-danger"><%= status %> </span>
      <% } %>
    </h5>
    <div class="col-md-7 col-8" style="margin: auto">
      <form
        action="/statusChange"
        method="POST"
        style="display: flex; flex-direction: row; margin: auto"
      >
        <select name="Status" class="form-control" required>
          <option value="">Select An Option</option>
          <option value="Active">Active</option>
          <option value="Busy">Busy</option>
          <option value="Break">Break</option>
          <option value="Inactive">Inactive</option>
        </select>
        <input type="submit" class="btn btn-primary ml-1" value="ok" />
      </form>
    </div>
  </div>
  <div class="container-fluid">
    <h3 class="text-white text-center">User List & Status</h3>
    <div
      class="row"
      style="justify-content: space-between; align-items: center"
    >
      <div class="col-md-3 col-6 userStatusList">
        <p class="h5 text-center text-white mt-2">Active Users</p>
      </div>
      <div class="col-md-3 col-6 userStatusList">
        <p class="h5 text-center text-white mt-2">Busy Users</p>
      </div>
      <div class="col-md-3 col-6 userStatusList">
        <p class="h5 text-center text-white mt-2">Break Users</p>
      </div>
      <div class="col-md-3 col-6 userStatusList">
        <p class="h5 text-center text-white mt-2">Inactive Users</p>
      </div>
    </div>
  </div>
</div>
